:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
}

mat-toolbar {
    justify-content: space-between;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 80%, transparent);
    color: #fff;
}

.logo {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.action-menu {
    display: flex;
    align-items: center;
    padding: 5px 0;

    .action-text {
        margin-left: 20px;
        color: #fff
    }
}