:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --gray-900: oklch(19.37% 0.006 300.98);
    --pill-accent: var(--bright-blue);
    --hot-red: oklch(61.42% 0.238 15.34);
}

.home-container {
    max-width: 800px;
    padding: 25px;
    margin: 0 auto;
    height: 72%;
}

.app-description {
    font-size: 20px;
    text-align: center;
}

.features-container {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2 {

    background: color-mix(in srgb, var(--bright-blue) 5%, transparent);
    color: var(--bright-blue);
}



h1,
h2,
h3 {
    margin: 20px 0;
    text-align: center;
    padding: 20px;
}

.pill {
    margin: 50px 0;
    display: flex;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 60%, transparent);
    color: #fff;
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-family: var(--inter-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
}

.pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

ol>li {
    margin: 20px;
}

ul>li {
    margin: 20px;
}

pre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4f5862;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

    mat-icon {
        color: #fff;
        cursor: pointer;
    }
}

code {
    font-family: monospace;
    color: #fff;
    cursor: pointer;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 80%, transparent);
    color: #fff;
    padding: 10px;
    margin-top: 60px;
    font-size: 12px;
    height: 50px;

    a {
        color: var(--hot-red);
    }
}